<div class="torrent-actions section col s12">

    <div class="preloader-wrapper active small left col s6" ng-show="loading">
        <div class="spinner-layer spinner-green-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>

    <div class="col s6" ng-show="onlyStart && (torrent.state == 'NEW' || torrent.state == 'COMPLETED_WITH_ERROR' || torrent.state == 'FAILED_DOWNLOAD_ATTEMPT' || torrent.state == 'AWAITING_DOWNLOAD')">
        <a ng-click="startDownload(torrent)" class="waves-effect waves-teal btn-flat">
            <i class="material-icons center" style="font-size: 30px">play_circle_outline</i>
        </a>
    </div>

    <a ng-show="!onlyStart && torrent.state !== 'COMPLETED'" title="Cancel"
       ng-click="cancelDownload(torrent)" class="cancel-button action-button pull-left">
      &nbsp;
    </a>

    <a ng-show="!onlyStart &&  torrent.state == 'DOWNLOADING'" title="Pause"
            ng-click="pauseDownload(torrent)" class="pause-button action-button pull-left">
      &nbsp;
    </a>
    <!-- Resume -->
    <a ng-show="!onlyStart &&  torrent.state == 'PAUSED'"
            ng-click="resumeDownload(torrent)" class="play-button action-button pull-left">
     &nbsp;
   </a>

    <a ng-show="!onlyStart &&  torrent.state == 'DOWNLOAD_COMPLETED'"
            ng-click="rename(torrent)" class="rename-button action-button pull-left">
      &nbsp;
    </a>

    <a ng-show="!onlyStart &&  torrent.state == 'RENAMING_COMPLETED'"
            ng-click="fetchSubtitles(torrent)" class="subtitles-button action-button pull-left">
      &nbsp;
    </a>

    <a ng-show="!onlyStart &&  torrent.magnetLink"
            href="[[torrent.magnetLink]]" target="_blank" class="magnet-link action-button pull-left">
      &nbsp;
    </a>

    <a ng-show="!onlyStart && torrent.torrentFileLink"
            href="[[torrent.torrentFileLink]]" target="_blank" class="pull-left">
      Link
    </a>




</div>
